<h1>Listing documents</h1>
<div class="container">
  <div class="row">
    <div class="col-sm tile">
      <% @documents.each do |document| %>
        <%= image_tag "icon_document.png" %>
        <span><%= document.name %></span>
        <span><%= document.issue_date %></span>
        <span><%=  %></span>
      <% end %>
      <%= link_to "New Document", new_document_path, class: "btn btn-xs btn-success" %>
      <div class="col-sm tile">
      </div>
    </div>
  </div>
</div>
