<%= image_tag '/images/background_centred.png', class: "img-fluid" %>
<h1> digitize your documents </h1>

<%= form_for(@document) do |form| %>
  <div class="field">
    <%= form.label :file %>
    <%= form.file_field :file %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>

