<nav class="navbar navbar-expand-md navbar-dark bg-dark">
  <button aria-controls="navbar-supported-content" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler navbar-toggler-right" data-target="#navbar-supported-content" data-toggle="collapse" type="button">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand" href="<%= root_path %>">YodaDigitizer</a>
  <div class="collapse navbar-collapse" id="navbar-supported-content">
    <ul class="navbar-nav mr-auto">
    <% if user_signed_in? %> 
      <li class="nav-item">
      </li>
      <li class="nav-item">
        <%= link_to 'Dashboard', root_path, class: 'nav-link' %>
      </li>
      <li class="nav-item">
        <%= link_to 'Buckets', buckets_path, class: 'nav-link' %>
      </li>
      <li class="nav-item">
        <%= link_to 'Upload document', new_document_path, class: 'nav-link' %>
      </li>
 
    <% end %>
    </ul>
    <ul class="navbar-nav my-2 my-lg-0">
      <% if user_signed_in? %>
        <div class="dropdown show">
          <a aria-expanded="false" aria-haspopup="true" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" href="#" id="dropdown-menu-link" role="button">
            <%= current_user.email %>
          </a>
          <div aria-labelledby="dropdown-menu-link" class="dropdown-menu dropdown-menu-left">
            <%= link_to 'edit', edit_user_registration_path, class: 'dropdown-item' %>
            <%= link_to 'log out', destroy_user_session_path, method: :delete, class: 'dropdown-item' %>
          </div>
        </div>
      <% else %>
        <li class="nav-item">
          <%= link_to 'Login', new_user_session_path, class: 'nav-link' %>
        </li>
        <li class="nav-item">
          <%= link_to 'Register', new_user_registration_path, class: 'nav-link' %>
        </li>
      <% end %>
    </ul>
  </div>
</nav>
