<!DOCTYPE html>
<html>
  <head>
    <title>TeamYoda</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all'%>
    <%= javascript_include_tag 'application' %>
  </head>
  <body>
  <%= render 'layouts/menu' %>
 <header>
 <% if user_signed_in? %>
   <%= image_tag("header.png", alt: "YodaTeam", class: 'img-fluid') %>
 <% else %>
      <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
          <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="1" class=""></li>

        </ol>
        <div class="carousel-inner" role="listbox">
          <!-- Slide One - Set the background image for this slide in the line below -->
          <div class="carousel-item active slider1">
            <div class="carousel-caption d-none d-md-block">

            </div>
          </div>
          <!-- Slide Two - Set the background image for this slide in the line below -->
          <div class="carousel-item slider2">
            <div class="carousel-caption d-none d-md-block">

            </div>
          </div>

        </div>
        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>
      <% end %>
    </header>
    <section class="py-5">
      <div class="container">
        <%= yield %>
      </div>
    </section>
    <footer class="bg-dark footer_possition">
       <div class="container">
          <%= image_tag("footer.png", alt: "YodaTeam", class: 'img-fluid') %>
          <p class="m-0 text-center text-white">Copyright &copy; Netguru 2018</p>
       </div>
    </footer>
  </body>
</html>
